* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#complainantFirstName {
  border: 1px solid red;
}
/* Add Complain Section */
#addComp {
  border: none;
  width: 120px;
  text-align: center;
  background: orange;
  color: white;
  font-weight: 700;
}
.displayAddComp {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  /* border: 1px solid red; */
  height: 80%;
  width: 80%;
  font-size: 16px;
  margin: auto;
  z-index: 100;
  background: #e2e8f0;
  overflow-y: scroll;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 5px;
}
.required {
  color: red;
}
.displayViewComp {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  /* border: 1px solid red; */
  height: 80%;
  width: 80%;
  font-size: 16px;
  margin: auto;
  z-index: 100;
  background: #e2e8f0;
  overflow-y: scroll;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 5px;
}
.activeAddComp {
  display: block;
}
.addComp {
  height: 100%;
  width: 100%;
}
.upperDivAddComp {
  /* display: flex; */
  position: relative;
}
.closeIcon {
  position: absolute;
  right: 40px;
  top: 50%;
  cursor: pointer;
}

.closeIcon div {
  border: 1px solid black;
  width: 20px;
  font-weight: 900;
}
.line1 {
  transform: rotate(45deg);
}
.line2 {
  transform: rotate(-45deg);
}
.h3AddComp {
  /* border: 1px solid red; */
  text-align: center;
  padding: 0.75rem;
}

/*  */
.divComplaints {
  width: 100%;
  padding: 1.25rem;
  /* border: 1px solid cyan; */
}

.complaintsContent {
  display: flex;
  /* border: 1px solid cyan; */
  width: 100%;
  justify-content: space-between;
}
.complaintsContent > div {
  /* border: 1px solid red; */
  width: 23%;
}
.complaintsContent input {
  width: 100%;
  margin-bottom: 20px;
}
.complaintsContentDivtopLeft {
  /* margin: 1.25rem; */
  /* flex-grow: 1; */
  /* border: 1px solid red; */
  width: 100%;
}
.addressLine1andMobileDiv {
  width: 100%;
  display: flex;
  justify-content: space-between;
  /* border: 1px solid red; */
}
.complaintContnetDivLeftTop {
  /* border: 1px solid cyan; */
}
.complaintContnetDivLeftTop input {
  width: 100%;
}
.cityandState {
  width: 100%;
  display: flex;
  justify-content: space-between;
  /* border: 1px solid red; */
  margin-bottom: 20px;
}
.cityandState > div {
  width: 34%;
}
.cityandState select {
  width: 100%;
}
.rangeAndSP {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.rangeAndSP > div {
  width: 30%;
}
.rangeAndSP select {
  width: 100%;
}
.complaintsInput {
  padding: 0.5rem;
  margin-right: 0.5rem;
  border: 2px solid gray;
  border-radius: 0.25rem;
  width: 45%;
}
.contentDiv {
  justify-content: space-between;
  display: flex;
  width: 100%;
}
.complaintEmailDiv {
  margin: 1.25rem;
}
#emailInput {
  width: 100%;
}
.complaintsAddressDiv {
  margin-bottom: 1.25rem;
  width: 60%;
}
.complaintPhoneDiv {
  margin-bottom: 1.25rem;
  width: 30%;
  margin-right: 2.5rem;
}
.complaintsCityDiv {
  width: 60%;
  display: flex;
  /* gap: 20px; */
  /* border: 1px solid red; */
  justify-content: space-between;
}
#stateInput {
  width: 100%;
}
.stateDiv {
  width: 40%;
  /* border: 1px solid red; */
  margin-right: 0;
}
.ForwardDiv {
  /* border: 1px solid cyan; */
  margin: auto;
}
.complaintsText {
  /* border: 1px solid red; */
  margin-bottom: 20px;
  height: 150px;
  width: 100%;
}
.complaintsTextArea {
  width: 100%;
  height: 120px;
}
.complaintsTextArea > textarea {
  width: 100%;
  height: 100%;
  padding: 0.75rem;
}
.complaintsTextArea > textarea:focus {
  outline: none;
}
.bottomDiv {
  display: flex;
  height: 80px;
  justify-content: space-between;
}
.highPriorityCheckDiv {
  margin: 5px;
  /* flex: 1; */
  display: flex;
  /* border: 1px solid red; */
  align-items: center;
  height: 60px;
  /* justify-content: flex-start; */
  margin-bottom: 30px;
  gap: 3px;
}
.specialDiv {
  display: flex;
  height: fit-content;
  width: 100%;
  /* border: 1px solid cyan; */
  /* margin: 1.25rem; */
  margin-bottom: 20px;
  justify-content: space-between;
}
.specialDiv > div {
  width: 30%;
  /* border: 1px solid red; */
}
.specialDiv select {
  width: 100%;
}
.sectionsDisplay {
  min-height: 50px;
  border: 1px solid gray;
  /* background: white; */
  overflow-y: scroll;
  max-height: 100px;
}
.sectionsDisplay > textarea {
  height: 100%;
  width: 100%;
  overflow-y: scroll;
  padding: 5px;
  box-sizing: border-box;
}
.addButtonDiv {
  display: flex;
  height: 70px;
  width: 100%;
  /* border: 1px solid cyan; */
  margin: 1.25rem;
  justify-content: space-between;
}
.addButton {
  height: 70%;
  width: fit;
  /* margin-top: 1.25rem; Equivalent to my-5 with default line height */
  /* margin-bottom: 1.25rem; Equivalent to my-5 with default line height */
  padding: 0.75rem; /* Equivalent to p-3 with default line height */
  border: 2px solid #34d399; /* Equivalent to border-2 border-green-400 */
  transition-duration: 0.3s; /* Default transition duration */
  transition-property: all; /* Animate all properties on hover */
  border-radius: 0.375rem; /* Equivalent to rounded */
  font-weight: bold; /* Equivalent to font-bold */
  color: #34d399;
  cursor: pointer;
}
.addButton:hover {
  border-color: #10b981; /* Equivalent to hover:border-green-600 */
  background-color: #10b981; /* Equivalent to hover:bg-green-600 */
  color: #fff;
}
.filesDiv {
  height: fit-content;
  width: 100%;
  /* margin: 1.25rem; */
  /* border: 1px solid cyan; */
}
#inputFilesText {
  border: 1px solid red;
  margin-top: 20px;
  min-height: 0;
  max-height: 200px;
  /* height: 170px; */
}

/* Update Complain Section */

.displayUpdateComp {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  /* border: 1px solid red; */
  height: 80%;
  width: 80%;
  font-size: 16px;
  margin: auto;
  z-index: 100;
  background: #e2e8f0;
  overflow-y: scroll;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 5px;
}

.updateComp {
  height: 100%;
  width: 100%;
}
.closeIconUpdate {
  position: absolute;
  right: 40px;
  top: 50%;
  cursor: pointer;
  /* border: 1px solid red; */
}
.closeIconUpdate div {
  border: 1px solid black;
  width: 20px;
  font-weight: 900;
}
.activeUpdateComp {
  display: block;
}

.closeIconView {
  position: absolute;
  right: 40px;
  top: 50%;
  cursor: pointer;
  /* border: 1px solid red; */
}
.closeIconView div {
  border: 1px solid black;
  width: 20px;
  font-weight: 900;
}

.commentDiv {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  /* border: 1px solid red; */
  /* height: fit-content; */
  min-height: 50%;
  max-height: 80%;
  width: 80%;
  font-size: 16px;
  margin: auto;
  z-index: 100;
  background: #e2e8f0;
  overflow-y: scroll;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 5px;
  padding: 0 2rem 0 2rem;
}
.activecommentDiv {
  display: block;
}
.commentMainDiv {
  display: flex;
  justify-content: space-between;
  height: 80%;
  /* border: 1px solid cyan; */
}
.commentMainDiv > div {
  width: 50%;
  height: 100%;
}
#commentForm {
  /* border: 1px solid red; */
  height: 100%;
  padding: 2rem;
}
.innerTextDiv {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 20px;
}
#commentText {
  width: 100%;
  min-height: 200px;
  height: fit-content;
  max-height: 400px;
  border-radius: 5px;
  padding: 1rem;
}
.showComments {
  /* border: 1px solid red; */
  padding: 2rem;
  overflow-y: auto;
}

.closeIconComment {
  position: absolute;
  right: 40px;
  top: 50%;
  cursor: pointer;
}

.closeIconComment div {
  border: 1px solid black;
  width: 20px;
  font-weight: 900;
}
.commentDivView {
  /* border: 1px solid black; */
  margin: 15px 0 15px 0;
  background: whitesmoke;
  padding: 1rem;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.commentTextView {
  background: rgb(242, 242, 242);
  padding: 0.5rem 0.25rem 0.5rem 0.25rem;
  font-size: 14px;
}
